<style>
    body {
        background-color: #383635;
    }

    textarea {
        width: 100%;
        border: none;
        resize: none;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .frame {
        width: 800px;
        background-color: #f0f0f0;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    input[type="submit"] {
        background-color: black;
        color: white;
        text-transform: uppercase;
        border-radius: 0;
        border: none;
        padding: 6px 14px;
        font-weight: bold;
        font-size: 15px;
        font-family: "Helvetica", sans-serif;
        float: right;
    }
    #comments {
        width: 800px;
        height: 400px;
        overflow-y: scroll;
        padding: 10px;
        background-color: #ffffcc;
        border-radius: 5px;
        margin-bottom: 10px;
        margin: 0 auto;         /* horizontally center comment feed */
        background-color: #5a5754;
    }
    .comment {
        padding: 10px;
        font: 15px Arial, sans-serif;
        color: white;
        animation-name: fadeIn;
        animation-duration: 1s;
        background-color: #383635;
    }
    .footer {
        color: red;
        font-size: 12px;
        margin-top: 6px;
        font-weight: bold;
    }
</style>
